<% # Show single article page %>
<%= render @article %>

<% # Actions, requests, allowed for the article %>
<div id="action_btns" class="d-flex justify-content-between">
  <% if Current.user.nil? || Current.user.username != @article.author%>
    <%= link_to "Back to articles", articles_path, method: :get, class:"text-decoration-none d-flex align-items-center link-secondary ms-4"%>
  <% else %>
    <%= button_to "Edit this article", edit_article_path(@article), method: :get, class:"btn btn-success"%>
    <div class="d-flex justify-content-between">
      <%= link_to "Back to articles", articles_path, method: :get, class:"text-decoration-none d-flex align-items-center link-secondary ms-4"%>
      <%= button_to "Destroy this article", @article, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}  , class:"btn btn-danger" %>
    </div>
  <% end %>
</div>

<% # Show comments for the article %>
<%= render "comments/show", article: @article %>
